body {
  background-color:floralwhite ;
}
h1 {
  color: #ffb6c2;
}

}
h1 {
  text-align: center;
  color:#ffb6c2;
}
footer {
  color:#ffb6c2;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
img {
  width: 450px;
}
